<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Make a new Comment</title>
</head>

<body>
  <h1>Make a New Comment</h1>
  <form action="/comments" method="post">
    <section> 
      <label for="username">Enter Username</label>
      <input type="text" id="username" placeholder="username" name="username">
    </section>
    <section>
      <label for="comment">Comment Text</label>
      <br>
      <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
    </section>
    <button>Submit</button>
  </form>
  <a href="/comments/new">Back to Main Comments</a>
</body>

</html>