<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Form</title>
</head>
<body>
  <h1>SIGN UP!</h1>
  <form action="">
    <div>
      <label for="username">Enter Username:</label>
      <input type="text" name="username" id="username" placeholder="username">
    </div>
    <div>
      <label for="password">Enter Password:</label>
      <input type="password" name="password" id="password" placeholder="password">
    </div>
    <button>Sign Up</button>
  </form>
  
</body>
</html>