<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1>SIGN UP!</h1>
    <form action="/register" method="POST">
        <div>
            <label for="username">Enter Username:</label>
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div>
            <label for="password">Enter password:</label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <button>Sign Up</button>
    </form>
</body>

</html>