<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Farms</title>
</head>

<body>
    <%= messages %>
    <h1>All Farms</h1>
    <ul>
        <% for(let farm of farms) { %>
        <li><a href="/farms/<%=farm._id%>"><%= farm.name %></a> </li>
        <% }%>
    </ul>
    <a href="/farms/new">Add Farm</a>

</body>

</html>