<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %></title>
</head>

<body>
    <h1><%= farm.name %></h1>
    <ul>
        <li>City: <%= farm.city%></li>
        <li>Email: <%= farm.email %></li>
    </ul>

    <a href="/farms">All Farms</a>

</body>

</html>