body {
  /* by default body has 8px margin */
  margin: 0;
}
div {
  width: 200px;
  height: 200px;
  background-color: #e5989b;
}

h1 {
  background-color: pink;
  width: 200px;
  padding-left: 100px;
  padding-top: 50px;
  /* by default h1 has margin */
  margin: 0;
}

span {
  margin-left: 30px;
   /*does not work at first  */
  margin-top: 30px;
}

#one {
  background-color: #e5989b;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  /* this property will keep the border in line with content and not add 5px on all sides */
  /* box-sizing: border-box; */
  margin-left: 50px;
  margin-bottom: 100px;
}

#two {
  background-color: #b5838d;
  border-color: #ffcdb2;
  border-width: 2px;
  border-style: dashed;
  border-left-width: 8px;
  padding-right: 50px;
  margin: 200px;
}

#three {
  background-color: #6d6875;
  /* shorthand property */
  border: 4px solid black;
  border-left-style: dotted;
  /* circle */
  border-radius: 50%;
}

button {
  padding: 10px 20px 30px 40px;
}



