<%- include('partials/head') %> 
<%- include('partials/navbar') %> 

  <h1>HOME PAGE <%= 4 + 5 + 1 %></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, perferendis temporibus. Dolorem reiciendis vitae
    obcaecati maxime, fuga, accusamus quas, tenetur odio distinctio culpa quam impedit non natus. Expedita, vero dolor.
  </p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis ea eum, perspiciatis fugiat iste fugit eaque
    explicabo ipsam dolore magnam voluptatum dicta blanditiis asperiores? Officiis fuga ratione delectus deserunt culpa
    molestiae iste. Consectetur cumque nostrum cum ex pariatur, totam neque! Necessitatibus blanditiis rerum quis
    obcaecati ullam harum quaerat illo, eligendi consequatur culpa laboriosam quod velit earum repudiandae. Harum,
    libero. Maxime quae impedit est unde dicta culpa in quisquam neque! Cum repellat quo impedit dolores eligendi sequi
    distinctio pariatur, perspiciatis perferendis, provident dicta magnam dolorum! Ea magnam suscipit dolorem, possimus
    quas error vitae repellendus quae autem, doloribus consectetur minima reprehenderit repudiandae.</p>

    <%- include('partials/footer') %> 