<% layout('layouts/boilerplate') %> 
<!-- FROM BOOTSTRAP ALERT DOCS -->
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <!-- FOR DEVELOPMENT PURPOSES -->
        <p><%= err.stack %></p> 
    </div>
  </div>
</div>
