<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Farm</title>
</head>

<body>
  <h1>Add a Farm</h1>
  <form action="/farms" method="POST">
    <div>
      <label for="name">Farm Name</label>
      <input type="text" name="name" id="name" placeholder="farm name">
    </div>
    <div>
      <label for="city">Farm City</label>
      <input type="text" name="city" id="city" placeholder="farm city">
    </div>
    <div>
      <label for="email">Farm Email</label>
      <input type="email" name="email" id="email" placeholder="farm email">
    </div>
    <div>
      <button>Submit</button>
    </div>
  </form>

  <!-- LINK TO GO BACK/CANCEL EDIT ==> take back to main page -->
  <a href="/products">Cancel</a>

</body>

</html>